flask = "*"
pymysql = "==1.0.3"
python-dotenv = "*"
flask-restx = "*"
flask-mail = "*"
flask-socketio = "*"
cloudinary = "*"
pyopenssl = "*"
pyjwt = "*"
cryptography = "==40.0.2"
flask-sqlalchemy = "==3.0.3"